html {
    background: #e6e9e9;
    background-image: linear-gradient(270deg, rgb(230, 233, 233) 0%, rgb(216, 221, 221) 100%);
    -webkit-font-smoothing: antialiased;
}

body {
    background: #000000;
    box-shadow: 0 0 2px rgba(0.8, 0, 0, 0);
    color: #FFFFFF;
    font-family: "Arvo", Helvetica, Arvo, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0 auto;
    text-align:justify;
    text-justify:inter-ideograph
    max-width: 1000px;
    padding: 5em 13.5em 5em;
    
}

h1, h2, h3, h4, h5, h6 {
    color: #FFFFFF;
    font-weight: 600;
    line-height: 1.3;
    
}

h2 {
    margin-top: 1.3em;
}

a {
    color: #FFFFFF;
}

b, strong {
    font-weight: 600;
}

samp {
    display: none;
}

img {
    animation: colorize 2s cubic-bezier(0, 0, .78, .36) 1;
    background: transparent;
    border: 10px solid rgba(0.8, 0, 0, 0);
    border-radius: 4px;
    display: block;
    margin: 1.3em auto;
    max-width: 100%;
}

@keyframes colorize {
    0% {
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
    }
    100% {
        -webkit-filter: grayscale(0%);
        filter: grayscale(0%);
    }
}